<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OHYS</title>
    <link rel="stylesheet" href="../../static/css/storeIndex.css">
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>
<body>
<!--头部-->
<div id="header">
    <!--头部顶部=-->
    <div class="header_top">
        <div class="header_top_center">
            <div class="header_top_center_left">
                OHYS
            </div>
            <div class="header_top_center_right">
                <a href="">登录</a>
                <a href="">免费注册</a>
                <a href="">购物车</a>
                <a href="">我的订单</a>
            </div>
        </div>

    </div>
    <!--头部中部-->
    <div class="header_center">
        <!--左侧logo-->
        <div class="header_center_logo">
            <img src="../../static/img/Batman.jpg" alt="">
        </div>
        <!--中部搜索-->
        <div class="header_center_search">
            <form action="#">
                <input type="text" placeholder="请输入内容" class="search_input">
                <input type="submit" value="搜索" class="submit_button">
            </form>
            <div class="hot">
                <a href="#">热门商品</a>
                <a href="#">热门商品</a>
                <a href="#">热门商品</a>
                <a href="#">热门商品</a>
            </div>
        </div>

        <!--右部二维码-->
        <div class="header_center_code">
        </div>
    </div>
    <!--导航-->
    <div class="nav">
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">男装</a></li>
            <li><a href="#">女装</a></li>
            <li><a href="#">图书音像</a></li>
            <li><a href="#">电子产品</a></li>
            <li><a href="#">母婴</a></li>
        </ul>
    </div>
</div>


<div id="adv">
    <img src="../../static/img/others/garden.jpg" alt="">
</div>
<!--秒杀-->
<div id="seckill">
    <div class="seckill_top">
        <span>高级香水系列</span>
    </div>
    <div class="seckill_body">
        <ul>
            <li>
                <a href="">
                    <img src="../../static/img/Perfume/chance-_-100ml.3145891265200.jpg" alt="">
                    <p>CHANCE</p>
                    <p>香奈儿邂逅淡香水</p>
                    <i class="yuan">￥</i><span class="price">790.00起</span>
                </a>
            </li>
            <li>
                <a href="">
                <img src="../../static/img/Perfume/coco-mademoiselle--100ml.3145891166606.jpg" alt="">
                <p>COCO MADEMOISELLE</p>
                <p>香奈儿可可小姐馥郁香水</p>
                <i class="yuan">￥</i><span class="price">860.00起</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../static/img/Perfume/chance-_-100ml.3145891265200.jpg" alt="">
                    <p>GABRIELLE CHANEL</p>
                    <p>香奈儿嘉柏丽尔香水</p>
                    <i class="yuan">￥</i><span class="price">860.00起</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../static/img/Perfume/n_5-_-100ml.3145891255300.jpg" alt="">
                    <p>N°5</p>
                    <p>香奈儿五号香水（经典）</p>
                    <i class="yuan">￥</i><span class="price">790.00起</span>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="../../static/img/Perfume/n_19-_-100ml.3145891195309.jpg" alt="">
                    <p>N°19</p>
                    <p>香奈儿十九号香水</p>
                    <i class="yuan">￥</i><span class="price">1520.00起</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--套装系列-->
<div id="suit">
    <h3>高级套装系列</h3>
    <div class="suit_body">
        <ul>
            <li>
            <a href="">
                <img src="../../static/img/Perfume/les-eaux-de-chanel---travel-set---3x50ml.jpg" alt="">
                <p>LES EAUX DE CHANEL - TRAVEL SET</p>
                <p>香奈儿之水香水 旅行臻藏版</p>
                <i >￥</i><span class="price">2250.00</span>
            </a>
            </li>

            <li>
            <a href="">
                <img src="../../static/img/Perfume/_-les-exclusifs-de-chanel-1pce.jpg" alt="">
                <p>香奈儿珍藏香水奢华套装（东方屏风）</p>
                <p>LES EXCLUSIFS DE CHANEL</p>
                <i class="yuan">￥</i><span class="price">2595.00</span>

            </a>
            </li>

            <li>
            <a href="">
                <img src="../../static/img/Perfume/bleu-de-chanel-_-1pce.jpg" alt="">
                <p>BLEU DE CHANEL</p>
                <p>香奈儿蔚蓝男士香水旅行套装</p>
                <i class="yuan">￥</i><span class="price">1540.00</span>
            </a>
            </li>

            <li>
            <a href="">
                <img src="../../static/img/Perfume/n_5-_-1pce.jpg " alt="">
                <p>N°5</p>
                <p>香奈儿五号香水节日套装</p>
                <i >￥</i><span class="price">2250.00</span>
            </a>
            </li>

            <li>
            <a href="">
                <img src="../../static/img/Perfume/n_5-l_eau-_-1pce.jpg" alt="">
                <p>N°5 L’EAU</p>
                <p>香奈儿五号之水节日套装</p>
                <i class="yuan">￥</i><span class="price">1880.00</span>
            </a>
            </li>

            <li>
            <a href="">
                <img src="../../static/img/Perfume/coco-mademoiselle--1pce.jpg" alt="">
                <p>N°5 L’EAU</p>
                <p>香奈儿五号之水节日套装</p>
                <i class="yuan">￥</i><span class="price">1190.00</span>
            </a>
            </li>

            <li>
                <a href="">
                    <img src="../../static/img/Perfume/bleu-de-chanel-_-1pce.jpg" alt="image">
                    <p>BLEU DE CHANEL</p>
                    <p>香奈儿蔚蓝男士香水旅行套装</p>
                    <i class="yuan">￥</i><span class="price">1540.00</span>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="../../static/img/Perfume/n_5-l_eau-_-1pce.jpg" alt="">
                    <p>N°5 L’EAU</p>
                    <p>香奈儿五号之水节日套装</p>
                    <i class="yuan">￥</i><span class="price">1880.00</span>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="../../static/img/Perfume/n_5-l_eau-_-1pce.jpg" alt="">
                    <p>N°5 L’EAU</p>
                    <p>香奈儿五号之水节日套装</p>
                    <i class="yuan">￥</i><span class="price">1880.00</span>
                </a>
            </li>

            <li>
                <a href="">
                    <img src="../../static/img/Perfume/les-eaux-de-chanel---travel-set---3x50ml.jpg" alt="">
                    <p>LES EAUX DE CHANEL - TRAVEL SET</p>
                    <p>香奈儿之水香水 旅行臻藏版</p>
                    <i >￥</i><span class="price">2250.00</span>
                </a>
            </li>

        </ul>
    </div>
</div>

<!--尾部-->
<div id="footer">
    <div class="link">
        <a href="" >商业合作</a>
        |
        <a href="">联系我们</a>
        |
        <a href="">商家入驻</a>
    </div>
    <div id="copyright">
        Copyright &nbsp;&copy;&nbsp;2020&nbsp;XYZ版权所有&nbsp;
    </div>
</div>

</body>
</html>