<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<!--头部-->
<div id="header">
<!--    头部中间位置-->
    <div class="h_center">
        <img src="images/myxq.jpg">
        <p>豫章故郡，洪都新府。星分翼轸，地接衡庐。襟三江而带五湖，控蛮荆而引瓯越。物华天宝，龙光射牛斗之墟；</p>
    </div>
</div>

<!--中部-->
<div id="login_body">
    <div class="login_b_center">
        <div class="login_bg">
            <form action="#" id="login">
                <!--用户名-->
                <div class="username"><span></span><input type="text"></div>
                <!--密码-->
                <div class="password"><span></span><input type="password"></div>
                <div class="login_btn"><input type="submit" class="login_btn" value="登录"></div>
            </form>
            <div class="forgetPwd">
                <a href="">忘记密码</a>
                <a href="">免费注册</a>
            </div>

        </div>
    </div>

</div>
<!--尾部-->
<div id="footer">
    <div class="link">
        <a href="" >商业合作</a>
        |
        <a href="">联系我们</a>
        |
        <a href="">商家入驻</a>
    </div>
    <div id="copyright">
        Copyright &nbsp;&copy;&nbsp;2020&nbsp;XYZ版权所有&nbsp;
    </div>

</div>

</body>
</html>